:root {
    font-family: Calibri;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #5cba64;
}


h1 {
    font-size: 20px !important; /* Bootstrap overrides. */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 600px;
    min-height: 100vh;
}

.btn-primary {
    background-color: #a7f5b5 !important; /* Override background color */
    border-color: #a7f5b5 !important;
    color: black !important;
}

.btn-primary:hover{
    border-color: white !important;
}


.modal-header {
    height: 40px;
    background-color: #e0e0e0;
}


.modal-footer {
    background-color: #e0e0e0;
}


