:root {
    font-family: Calibri;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #5cba64;
}


label{
    color: black;
}


h1 {
    color: black;
    font-size: 24px;
}

h2 {
    color: white;
    font-size: 20px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 600px;
    min-height: 100vh;
}


.btn {
    font-size: 14px;
    font-family: Calibri;
    padding: 8px 12px 8px 12px;
    background-color: #a7f5b5;
    border: 1px solid white;
    color: white;
    border-radius: 5px ;
    margin: 5px;
    box-shadow: none ;
}
    .btn.primary {
        background-color: #a7f5b5;
        color: black;
    }

    .btn.secondary {
        background-color: #1f2329;
    }

    .btn.tertiary {
        background-color: #ff9494;
        color: black;
    }

    .btn:active{
        transform: translateY(2px);
    }

    .btn:hover {
        border-color: white !important;
        filter: saturate(1.5) brightness(1.2); 
    }

    .btn.with-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        font-family: Calibri;
        border-radius: 5px;
        gap: 5px;
    }

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

.input-group-label {
    padding: 2px 5px 2px 5px;
    width: 120px;
    text-align: left;
    background-color: #cacaca;
    color: black;
    border: 1px solid black;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
}

.input-group-label.small {
    max-width: 40px; /* Max width for small fields */
}

.input-group-label.medium {
    max-width: 120px; /* Max width for large fields */
}

.input-group-label.large {
    max-width: 180px; /* Max width for large fields */
}




.input-group-input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    flex: 1; /* This ensures the input grows to fill available space */
    font-size: 14px;
    min-width: 100px; /* Minimum width for the input */
}

.input-group-input.small {
    max-width: 150px; /* Max width for small fields */
}

.input-group-input.medium {
    max-width: 250px; /* Max width for large fields */
}

.input-group-input.large {
    max-width: 500px; /* Max width for large fields */
}

.input-group-input:hover {
    border-color: white;
}

/*A horizontal spacer to fill gaps.*/
.h-filler{
    width: 100%;
}

/*A vert spacer to fill gaps*/
.v-filler {
    height: 100%;
}
