

.Page {
    background-image: linear-gradient(to right,#ffffff,#cecece);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.Page .table{
    color: black;
    background: #808080;
}