

.Page {
    background-image: linear-gradient(to right,#e4fed9,#d7fac6);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow:hidden;
}

.Menu-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px;
}

.Menu-Bar-Items {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px; /* Items spacing */
}


