
.settings-layout {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 700px;
    width: 1000px;
}

.settings-left-content {
    display: flex;
    width: 200px;
    padding-right: 10px;

}


.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}